.wrapper {
	display: flex;
	margin-top: 80px;
	.telfon{
		position: absolute;
	}
}

.left {
	display: flex;
	align-items: center;
	justify-content: center;
}

.right {
	width: 100%;
	margin-left: 96px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.title {
	font-weight: 600;
	font-size: 48px;
	color: #12141d;
	margin-bottom: 48px;
}

.workBox {
	display: flex;
	flex-direction: column;
	margin-bottom: 32px;
}

.workInput {
	width: 100%;
	background: #ffffff;
	border: 1px solid #cdd5df;
	border-radius: 12px;
	height: 60px;
	padding-left: 18px;
	min-width: 464px;
	margin-top: 12px;
}

.checkboxLable {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #697586;
}

.workBoxBtn {
	background: #155eef;
	border-radius: 12px;
	width: 273px;
	height: 60px;
	border: none;
	margin-top: 48px;
	color: #fff;
}
