.container {
    position: relative;

    .background {
        width: 100%;
        height: 820px;
        object-fit: cover;
    }

    .getcredit {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 5%;

        &>h1 {
            width: 470px;
            font-style: normal;
            font-weight: 600;
            font-size: 64px;
            line-height: 72px;
            letter-spacing: -0.03em;
            color: #FFFFFF;
        }

        &>p {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            color: #FFFFFF;
            opacity: 0.6;
            width: 518px;
            margin: 20px 0;
        }

        &>button {
            all: unset;
            text-align: center;
            width: 187px;
            height: 64px;
            background: #2162F0;
            color: white;
            border-radius: 12px;

            &:hover {
                cursor: pointer;
                transition: .3s;
                color: #2162F0;
                background: white;
            }
            &:active {
                background: #2162F0;
                color: white;
            }
        }
        &>span {
            color: white;
            margin-left: 48px;
            text-decoration: underline;
            &:hover {
                cursor: pointer;
                transition: .1s;
                color: #2162F0;
            }
            &:active {
                color: white;
            }
        }
    }
}
